.container {
    align-items: center;
    display: flex;
    font-family: monospace;
    height: 650px;
    justify-content: center;
}

.image {   
    height: 60%;
    width: 50%;
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
        padding: 40px 0px 40px 0px;
    }

    .image {
        height: 100%;
        width: 100%;
    }
}